a:hover, #footer a:hover {
  color: #784EE5;
}

#header {
  background-color: #512888;
  color: #D0B4F8;
}

#header .button.special {
  color: #784EE5 !important;
}

header.major:after {
  border-bottom: none;
}

.info {
  margin: -25px 0 10px 0;
  font-size: 14px;
}

.info span {
  display: inline-block;
}

.null {
  margin-right: -25px;
}

.updated {
  margin-left: 25px;
}

.officer:last-child {
  padding-bottom: 50px;
}

.officer, .project {
  display: inline-block;
  text-align: center;
}

.officer {
  width: 49%;
  margin-top: 3em;
}

.project {
  width: 100%;
  min-height: 136px;
  vertical-align: top;
}

.officer h3, .officer h4 {
  margin-bottom: 0;
}

.officer .image {
  width: 30%;
}

.officer .content {
  margin-top: 10px;
}

.image img {
  width: 100%;
}

@media (min-width: 680px) {
  .project {
    width: 49%;
  }
}

@media (min-width: 972px) {
  .project {
    width: 33%;
  }

  .officer {
    width: 33%;
  }
}

@media (min-width: 1300px) {
  .project {
    width: 24%;
  }
}
